# Dependências locais
node_modules/
dist/
public/dist
.env
*.log

# IDEs
.vscode/
.idea/
.DS_Store

# Pacotes de deploy e scripts locais
scanonu.zip
scanonu.tar
criar_pacote.ps1
*.traineddata
temp_deploy/
backend/public/assets/
