PORT=3001
GEMINI_API_KEY=sua_chave_do_gemini_aqui

# Conexão PostgreSQL (String de Conexão Padrão ou CapRover Environmental Variable)
DATABASE_URL=postgres://postgres:sua_senha@nome-do-app-db-postgres:5432/postgres

# Chave de segurança para consultas externas (C#)
EXTERNAL_API_KEY=sua_chave_de_integracao_aqui
